{% extends 'goods/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
    <div class="main-content container-sm">
        <nav class="nav nav-pills mt-2">
            <a class="nav-link active" href="">All</a>
            <a class="nav-link" href="#clothe">Clothe</a>
            <a class="nav-link" href="#food">Food</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
        </nav>
        <div class="goods-list">
            {% if items %}
                {% for item in items %}
                    <div onclick="window.location.href=''" class="card h-25 goods-card shadow">
                        <img src="{{ MEDIA_URL }}/goodsImages/{{ item.itempicture__itemPicture }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.itemsName }}</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Price: {{ item.price }}</small>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


        </div>
    </div>
{% endblock %}