.goods-list {
    -webkit-column-width: 180px;
    -moz-column-width: 180px;
    column-width: 180px;
    margin-top: 10px;
    padding: 5px 0;
    overflow: visible;
}
.goods-card {
    margin: 0 6px 15px 6px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    text-align: center;
    cursor: pointer;
    width: 180px;
}