.main-content {
    min-height: calc(100% - 56px);
    height: fit-content;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-content: start;
}

.top-box {
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    display: flex;
    justify-content: start;
    align-items: end;
}

.top-box .top-user-text {
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 5px;
}

.left-box {
    /*background-color: #0dcaf0;*/
    width: 17%;
    padding: 10px 20px;
}
.main-box {
    /*background-color: tomato;*/
    width: 80%;
    margin-left: 20px;
    padding: 5px 20px;
    height: fit-content;
}

.main-box .tab-content-header {
    height: 55px;
}

.main-box .tab-content-body {
    width: 100%;
    padding: 20px 2px;
}

.main-box .tab-content-body .viewed-goods-list {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;

}

.main-box .tab-content-body .goods-card {
    width: 180px;
    margin: 10px;
    cursor: pointer;
}

.main-box .tab-content-body .goods-card img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.btn-success {
    background-color: #2da44e;
}

.order-box {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
}

.order-box .goods-img-box {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 130px;
    cursor: pointer;
}

.order-box .goods-img-box img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.order-box .goods-info-text {
    height: 100%;
    width: 30%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.order-box .goods-info-text .goods-name {
    cursor: pointer;
    word-break: break-word;
    max-width: 350px;
}

.main-content .top-box img {
    cursor: pointer;
}

#upload-avatar-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 38px;
    width: 80px;
}

#upload-avatar {
    position: relative;
    height: 38px;
    cursor: pointer;
    opacity: 0;
    bottom: 32px;
    right: 227px;
}

.upload-img-alert {
    width: 80%;
    height: 40px;
}

.text-line{
    padding: 0 130px 0;
    margin: 35px 0 20px 0;
    line-height: 1px;
    border-left: 190px solid #ddd;
    border-right: 190px solid #ddd;
    text-align: center;
    cursor: pointer;
}

#book-orders, #sell-orders {
    min-height: 10px;
}

.goods-middle-box {
    width: 30%;
}

.goods-right-box {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.goods-right-box .btn {
    width: 120px;
}