{% extends 'user/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign in - Valuable Again
{% endblock %}

{% block head_block %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div id="main-container" class="container-fluid">
        <div id="login-container">
            <a href="{% url 'goods:index' %}">
                <img src="{% static 'images/logo.png' %}" width="430" height="130">
            </a>
            <div class="card rounded-3">
                <div class="card-header text-center">
                    Sign in to Valuable Again
                </div>
                <div class="card-body bg-light shadow-sm">
                    <form class="row g-3" onsubmit="return validateForm()" novalidate method="post">
                        {% csrf_token %}   {# Password protection #}
                        <div class="col-12 input-group-sm">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                            <div class="invalid-feedback">
                                Please enter your name.
                            </div>
                        </div>
                        <div class="col-12 input-group-sm">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="invalid-feedback">
                                Please enter your password.
                            </div>
                        </div>
                        <div class="col-12 input-group-sm">
                            <input class="form-check-input" type="checkbox" value="" id="checkRememberName">
                            <label class="form-check-label" for="checkRememberName">
                                Remember name
                            </label>
                        </div>

                        {% if errmsg %}
                            <div class="col-12">
                                <div class="login-error alert alert-danger" role="alert">
                                    {{ errmsg }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="col-12">
                            <button type="submit" class="btn btn-sm btn-success">Sign in</button>
                        </div>
                    </form>

                </div>
            </div>

            <div id="sign-up-info" class="card rounded-3">
                <div>
                    New to Valuable Again?
                    <a href="{% url 'user:register' %}">Create an account.</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{# Advice of login page :#}
{# we can add the function: remember the username  #}
{# we can use the email to activate the user #}





















