{% extends 'goods/base.html' %}
{% load staticfiles %}

{% block title_block %}
    User Center - Valuable Again
{% endblock %}

{% block head_block %}
    <link href="{% static 'css/user_center.css' %}" rel="stylesheet">
    <script src="{% static 'js/user_center.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div class="main-content container-sm">
        <div class="top-box">
            <img src="{% static 'images/default-avatar.png' %}" data-bs-toggle="modal" data-bs-target="#upload-avatar-modal" class="rounded-circle" width="63" height="63">
            <div class="top-user-text">
                <div class="fw-bold fs-5">{{ user.username }}</div>
                <div class="fs-6">Your personal account center</div>
            </div>
        </div>
        <div class="left-box">
            <ul class="nav nav-pills nav-fill flex-column" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button onclick="window.location.href='{% url 'user:centerProfile' %}'" class="nav-link" type="button">User profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button onclick="window.location.href='{% url 'user:centerAddress' %}'" class="nav-link" type="button">Update address</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button onclick="window.location.href='{% url 'user:centerOrders' %}'" class="nav-link active" type="button">Orders</button>
                </li>
            </ul>
        </div>
        <div class="main-box tab-content">
            <div class="tab-pane fade show active" id="orders-tab" role="tabpanel" aria-labelledby="orders-tab">
                <div class="tab-content-header fs-3 border-bottom fw-light">Orders</div>
                <div class="tab-content-body">
                    <div class="mb-3 row order-box">
                        <div class="goods-img-box" onclick="window.location.href=''">
                            <img src="{% static 'images/goods1.jpg' %}">
                        </div>
                        <div class="goods-info-text">
                            <div class="fw-bold fs-5 goods-name" onclick="window.location.href=''">Goods name</div>
                            <div>2022.3.2 18:56</div>
                        </div>
                        <div class="w-25 fs-5">Price:  <span class="fs-4">8.0</span> £</div>
                        <div class="w-25 fs-5">Status:  <span class="badge rounded-pill bg-success">Finished</span></div>
                    </div>
                    <hr>
                    <div class="mb-3 row order-box">
                        <div class="goods-img-box">
                            <img src="{% static 'images/goods2.jpg' %}">
                        </div>
                        <div class="goods-info-text">
                            <div class="fw-bold fs-5">Goods name</div>
                            <div>2022.3.2 18:56</div>
                        </div>
                        <div class="w-25 fs-5">Price:  <span class="fs-4">8.0</span> £</div>
                        <div class="w-25 fs-5">Status:  <span class="badge rounded-pill bg-warning">Cancelled</span></div>
                    </div>
                    <hr>
                    <div class="mb-3 row order-box">
                        <div class="goods-img-box">
                            <img src="{% static 'images/goods1.jpg' %}">
                        </div>
                        <div class="goods-info-text">
                            <div class="fw-bold fs-5">Goods name</div>
                            <div>2022.3.2 18:56</div>
                        </div>
                        <div class="w-25 fs-5">Price:  <span class="fs-4">8.0</span> £</div>
                        <div class="w-25 fs-5">Status:  <span class="badge rounded-pill bg-primary">In progress</span></div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="upload-avatar-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update avatar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-around">
                    <img id="big-preview" class="border-1 border" src="{% static 'images/default-avatar.png' %}" width="200" height="200">
                    <div>
                        <div class="fs-5 fw-light mb-4">Preview</div>
                        <img id="sm-preview" class="rounded-circle" src="{% static 'images/default-avatar.png' %}" width="70" height="70">
                    </div>

                </div>
                <div class="modal-footer">
                <span id="upload-avatar-btn" class="btn btn-outline-primary">
                    Upload
                    <input id="upload-avatar" type="file" accept="image/png, image/jpeg, image/jpg">
                </span>

                    <button type="button" class="btn btn-primary d-block">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}